$color-type: rgb(42, 126, 211);
$color-typeName: rgb(249, 34, 34);
$color-typeField: rgb(249, 131, 34);
$color-typeFieldType: rgb(91, 34, 249);

.type {
  color: $color-type
}

.typeName {
  color: $color-typeName;
}

.typeField {
  color: $color-typeField;
}

.typeFieldType {
  color: $color-typeFieldType;
}
