.welcomeContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraphDeveloper {
  font-size: 2.125rem;
  margin: 0;
  font-weight: 500;
}
