$color-red: rgb(242, 92, 84);
$color-orange: rgb(245, 160, 0);
$color-blue: rgb(31, 97, 160);
$color-gray: rgba(0, 0, 0, 0.5);
$hover-backGround: rgb(42, 126, 211);

.colorRed {
  color: $color-red;
}

.colorOrange {
  color: $color-orange;
}

.colorBlue {
  color: $color-blue;
}

.colorGray {
  color: $color-gray;
}

.fontBold {
  font-weight: 600;
}

.activeQuery {
  background-color: $hover-backGround;
}

.query {
  transition: linear 0.1s;
  position: relative;
  margin-bottom: 6px;
  padding: 2px 0;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-backGround;
    color: white;
  }
  &:hover > span {
    color: white;
  }
}
